cachetools==4.1.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
dropbox==11.21.0
idna==3.2
ply==3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.7
pyfiglet==0.8.post1
pytz==2020.1
requests==2.26.0
rsa==4.7
six==1.16.0
stone==3.2.1
termcolor==1.1.0
tqdm==4.62.3
uritemplate==3.0.1
urllib3==1.26.7
wget==3.2
